//
//  Config.xcconfig
//  Rootine
//
//  Created by Jackson Sanders on 4/5/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
ELECTRICITY_MAPS_API_KEY = GHGwJcVeNmRrFrGzvER5
GEMINI_API_KEY = "YOUR_API_KEY_HERE"
