<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ELECTRICITY_API_KEY</key>
	<string>GHGwJcVeNmRrFrGzvER5</string>
	<key>GEMINI_API_KEY</key>
	<string>AIzaSyATSl-_DLwbAQrllPspJ3Vgd3HkGkH_0ZA</string>
</dict>
</plist>
